/*Overall style changes*/
* {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'OPEN SANS'; */
    margin: 0px;
    box-sizing: border-box;
}

/*Main body*/
body {
    background-color: cello;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set body height to fill the viewport */
    overflow: hidden; 
    
}

h1 {
    /* background-color: rgba(41, 98, 60, 0.245); */
    background-color: rgb(80, 2, 80);
    margin-top: -8px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-size: 28px;
    text-align: center;
    color: white;

    
}

h1 span {
    font-weight: 700;
    color: hsl(234, 13%, 70%);
    font-size: 14px;
  }


h2 {
    /* background-color: rgba(41, 98, 60, 0.245); */
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

a {
    color: rgba(0, 0, 0, 0.774);
    text-decoration: none;
}

table {
    width: 100%;
    margin: 0; /* Remove default margin */
    border-collapse: collapse; /* Collapse any borders */
}

tr {
    width: 100%;
}

#q1-container {
    width: 60%;
    height: 60%;
    /* background-color: #f0f0f0; */
    box-sizing: border-box;
    padding: 0px;
  }
  
  #q2-container {
    width: 30%;
    height: 50%;
    /* background-color: #e0e0e0; */
    box-sizing: border-box;
    padding: 0px;
    align-self: right;
  }
  
  #q3-container {
    width: 30%;
    height: 20%;
    /* background-color: #e0e0e0; */
    box-sizing: border-box;
    padding: 0px;
    align-self: right;
    margin-bottom: 0;
    

  }



h5 {
    line-height: 1.6;
    margin-left: 20%;
    margin-right: 20%;
}

li {
    list-style-type: none;
}

#tooltip-div {
    width: fit-content;
    height: min-content;
    position: absolute;
    fill:cello;
    stroke: white;
    margin: 0px;
    z-index: 1000;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
}

#tooltip-text {
    font-size: 10px;
}

/*Credits*/
footer {
    line-height: 1.2;
    background-color: rgb(0, 191, 255);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    margin-bottom: -600px;
}